* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

header {
    position: fixed;
    display: flex;
    background-color: black;
    min-height: 3em;
    justify-content: space-between;
    align-items: center;
    margin-left: 20p;
    width: 100%;
    height: 70px;
}

header h1 {
    color: white;
}

.logo {
    margin-left: 20px;
}

.shopping-cart {
    display: flex;
    font-size: 30px;
    color: white;
    margin-right: 20px;
    align-items: center;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1.5em;
}

.cartContainer {
    display: flex;
    margin: 0 auto;
    padding: 0 1.5em;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #6397ed;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    width: 200px;
}

.cart-btn-primary {
    color: white;
    background-color: #cf3737;
    border: none;
    border-radius: .8em;
    font-weight: bold;
    width: 120px;
}

.closedPurchaseBtn {
    color: white;
    background-color: #374ecf;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    width: 250px;
    font-size: 1em;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    margin-bottom: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid rgb(79, 79, 236);
    border-radius: 10px;
    background-color: rgb(241, 241, 255);
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #333;
}

span.cart-item-price {
    margin-bottom: 15px;
}

.shop-item-description {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 300px;
    width: auto;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: column;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
    margin: 20px;
    font-size: 1em;
    font-weight: bold;
}

.shop-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
}

.cart-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 20px;
}

.cartItemsTitleContainer {
    font-size: 2.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.totalCartItemsPrice {
    margin-bottom: 40px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(12, 12, 12);
}

.cartItemsTitle {
    color: rgb(31, 31, 31);
}

i.fas.fa-trash-alt {
    color: rgb(31, 31, 31);
    font-size: 0.7em;
    margin-right: 10px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-image {
    width: auto;
    height: 170px;
    border-radius: 10px;
}

.cart-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

i.fas.fa-check {
    font-size: 33px;
    color: white;
    margin-right: 10px;
}

.fa,
.fas {
    font-weight: 900;
    color: white;
}

#counter {
    font-weight: 500;
    margin-right: 8px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

a.back {
    text-decoration: none;
    color: white;
}