body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.2em;
    display: flex;
    margin-left: 20px;
}

.shopping-cart {
    font-size: 2em;
    display: flex;
    margin-right: 20px;
}